@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    background-image: url('banner-google.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

img {
    width: 150px;
    height: 150px;
}

.id-login {
    display: flex;
    justify-content: baseline;
    gap: 15px;
}

.password-login {
    display: flex;
    justify-content: baseline;
    gap: 15px;
}

label {
    margin-top: 5px;
}

input {
    height: 20px;
    border-radius: 10px;
    border: 1px solid rgba(39, 38, 38, 0.445);
}

.container {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.541);
    border: 2px solid rgba(102, 101, 97, 0.473);
    border-radius: 40px;
}



.btn {
    width: 260px;
    height: 27px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.603), rgba(255, 255, 0, 0.61), rgba(0, 128, 0, 0.596), rgba(0, 0, 255, 0.589));
    padding: 5px;
    border: 1px solid rgba(39, 38, 38, 0.445);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
}